@font-face {
  font-family: "PT Sans";                                  /* Семейство шрифта*/
  font-style: normal;                                      /* стиль шрифта */
  font-weight: 400;                                        /* жирность шрифта */
  src: url("../fonts/ptsans-400.woff2") format("woff2");   /* Подключение шрифта из папки */
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";                                  /* Семейство шрифта*/
  font-style: normal;                                      /* стиль шрифта */
  font-weight: 700;                                        /* жирность шрифта */
  src: url("../fonts/ptsans-700.woff2") format("woff2");   /* Подключение шрифта из папки */
  font-display: swap;
}

/* BODY */

body {
  font-family: "PT Sans", sans-serif;                     /* Семейство шрифта, без засечек(запасной шрифт) */
  font-size: 18px;                                        /* размер шрифта */
  font-style: normal;                                     /* стиль шрифта */
  font-weight: 400;                                       /* жирность шрифта */
  line-height: 21px;                                      /* высота строки */
  background-color: #F2F2F2;                                 /* фоновый цвет */
  color: #000000;                                       /* цвет шрифта */
  padding: 0 40px 0 40px;

}

/* Шапка */

.page-header {
  background-color: #FFF;
  color: #000000;
}

/* Навигация сайта */

.navigation-link {
  font-family: "PT Sans", sans-serif;                     /* Семейство шрифта, без засечек(запасной шрифт) */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background-color: #FFF;
  color: #000000;
  text-decoration: none;                                 /* убираем подчеркивание ссылки */
  text-align: center;                                    /* текст по центру блока*/
}

/* Навигация пользователя */

.userbar-link {
  font-family: "PT Sans", sans-serif;                     /* Семейство шрифта, без засечек(запасной шрифт) */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background-color: #FFF;
  color: #000000;
  text-decoration: none;                                 /* убираем подчеркивание ссылки */
  text-align: center;                                    /* текст по центру блока*/
}

/* Кнопка "ХОЧУ СЮДА" */

.button-all {
  font-family: "PT Sans", sans-serif;                     /* Семейство шрифта, без засечек(запасной шрифт) */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  background: #756157;
  color: #ffffff;
  text-transform: uppercase;                              /* текст заглавными буквами */
  text-decoration: none;                                 /* убираем подчеркивание ссылки */
  text-align: center;                                    /* текст по центру блока */
}

/* MAIN-INDEX */

.main-index {
  background-image: url(../images/mask.png), url(../images/index_background.jpg);    /* Фоновая картинка */
  background-color: #FFF;                                                         /* фоновый цвет */
  color: #000000;                                                                 /* цвет шрифта */
  background-repeat: no-repeat;
  background-size: 100% auto;                                                       /* тянемся по горизонтали на 100%, по вертикали пропорционально */
}


/* ADVANTAGES */

.hero-item-intro {
  background-color: #FFF;
  color: #333;
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;                              /* текст заглавными буквами */
  text-align: center;                                     /* текст по центру блока */
}

.hero-item {
  background-color: #FFF;
  color: #333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  text-align: center;
  background: #FFF;
  color: #000000;
}

/* Блоки с голубым фоном */

.advantages-wrapper {
  background-color: #82B3D3;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description{
  font-family: "PT Sans", sans-serif;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Блоки с бледно-серым фоном */

.advantages-wrapper-list {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-list {
  font-family: "PT Sans", sans-serif;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}


.advantages-description-list{
  font-family: "PT Sans", sans-serif;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Блок на серо-голубом фоне */

.advantages-wrapper-item {
  background: rgba(131, 179, 211, 0.20);
}

.advantages-title-item {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-item {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* OFFER */

.offers {
  text-align: center;
  background: #ffffff;
  color: #000000;
}

.offer-title {
  font-family: "PT Sans", sans-serif;
  background: #ffffff;
  color: #000000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.offers-description {
  font-family: "PT Sans", sans-serif;
  background: #FFF;
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}


/* ADVANTAGES-USER */

.advantages-user {
  text-align: center;
  background: #ffffff;
  color: #000000;
}


.advantages-user-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-user-title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-user-description {
  color:#333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}


/* SEARCH*/

.search {
  text-align: center;
}

.search-title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  color: #333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.button-item {
color:  #ffffff;
background-color: #756157;
font-family: "PT Sans", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
}

.subscribe {
  text-align: center;
  background-image: url(../images/subscribe.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 485px;
}


.subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.button {
  font-family: "PT Sans", sans-serif;
}


.contacts-phone {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
