@font-face {
  font-family: "PT Sans";                                  /* Семейство шрифта*/
  font-style: normal;                                      /* стиль шрифта */
  font-weight: 400;                                        /* жирность шрифта */
  src: url("../fonts/ptsans-400.woff2") format("woff2");   /* Подключение шрифта из папки */
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";                                  /* Семейство шрифта*/
  font-style: normal;                                      /* стиль шрифта */
  font-weight: 700;                                        /* жирность шрифта */
  src: url("../fonts/ptsans-700.woff2") format("woff2");   /* Подключение шрифта из папки */
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
   flex-grow: 1;
   margin: 0 auto;
}

.page-header {
  display: flex;
  padding-inline: 70px;
  column-gap: 30px;
  outline: 2px solid red;
  width: 1060px;
  height: 64px;
}

.logo-img {
  margin-left: 70px;
}

.navigation {
  display: flex;
  width: 940px;
  margin: 0 auto;
  outline: 5px solid green;
}

.navigation-list {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 30px;
  font-family: "PT Sans";                                  /* Семейство шрифта*/
  font-style: normal;                                      /* стиль шрифта */
  font-weight: 700;
  padding: 20px 16px;
}

.navigation-item a{
  color: #000000;
}

.userbar-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 70px;
  padding: 20px 16px;
}

.page-header-button{
  font-family: "PT Sans";                                  /* Семейство шрифта*/
  font-style: normal;                                      /* стиль шрифта */
  font-weight: 400;
}

.button {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 16px;
  font-family: "PT Sans";                                  /* Семейство шрифта*/
  font-style: normal;                                      /* стиль шрифта */
  font-weight: 700;
  line-height: 20px;
}

.userbar-link-user{
  white-space: nowrap;
}

.userbar-list {
  display: flex;
  align-items: center;
  font-family: "PT Sans";                                  /* Семейство шрифта*/
  font-style: normal;                                      /* стиль шрифта */
  font-weight: 400;
  outline: 5px solid green;
  margin-top: -1px;
}
